@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}

	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translatey(-20px);
	}

	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
}

@keyframes float-1 {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}

	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translatey(-10px);
	}

	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
}

@keyframes float-2 {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}

	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translatey(-30px);
	}

	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
}

@keyframes float-person {
	0% {
		transform: translatey(0px);
	}

	50% {
		transform: translatey(-30px);
	}

	100% {
		transform: translatey(0px);
	}
}

@keyframes float-tech {
	0% {
		transform: translatey(0px) rotate(0deg);
	}

	25% {
		transform: rotate(5deg);
	}

	50% {
		transform: translatey(-20px) rotate(0deg);
	}

	75% {
		transform: rotate(-5deg);
	}

	100% {
		transform: translatey(0px) rotate(0deg);
	}
}

@keyframes moving {
	0% {
		transform: translatex(0) rotate(0deg);
	}

	25% {
		transform: translatex(30px) rotate(3deg);
	}

	50% {
		transform: translatex(0px) rotate(0deg);
	}

	75% {
		transform: translatex(-30px) rotate(-3deg);
	}

	100% {
		transform: translatex(0) rotate(0deg);
	}
}

.benefit-img-con-1,
.benefit-img-con-4,
.benefit-img-con-7,
.plan-1 {
	animation: float 6s ease-in-out infinite;
}

.benefit-img-con-2,
.benefit-img-con-5,
.plan-2 {
	animation: float 5s ease-in-out infinite;
}

.benefit-img-con-3,
.benefit-img-con-6,
.plan-3 {
	animation: float 4s ease-in-out infinite;
}

#person,
.email-icon-img {
	animation: float-person 4s ease-in-out infinite;
}

.service-icon {
	animation: float-tech 8s ease-in-out infinite;
}

/* #particles {
	animation: float-tech 6s ease-in-out infinite;
} */