:root {
    --primary-color : #DE944D;
    --secondary-color: #262626;
    --tertiary-color: #FFFFFF;
    --padding: 70px;
    --heading: 'Pacifico', cursive;
    --regular: 'Roboto', sans-serif;
    --font-color : #262626;
    --heading-color: #3D150C;
}


@media screen and (max-width: 768px) {
.slide-content{
    margin: 35px 35px;
    }
    .swiper-navBtn{
        display: none;
    }
.name {
    font-size: 20px;
}  
.card-content {
    padding-left: 10px;
    padding-right: 10px;
}
.card-content .title-heading {
    font-size: 12px;
}

.card-image {
    height: 120px;
    width: 120px;
}

.image-content {
    margin-bottom: -70px;
}
.card {
    margin-bottom: 20px;
}
}


@media only screen and (max-width: 1700px) { 
    .heading-con h2 {
        font-size: 80px;
    }
    .heading-con h1 {
    font-size: 100px;
    }
    .heading-con p {
    font-size: 22px;
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1180px) { 
    .heading-con {
        padding-right: 20px;
    }
    .heading-con h2 {
        font-size: 70px;
        }
    .heading-con h1 {
    font-size: 80px;
    }
    .heading-con p {
    font-size: 22px;
    }
    .welcome-button {
    width: 30%;
    }
    
    .welcome-page-con { 
        padding-left: 60px;
        display: flex;
        height: 650px;
    }

    .best-seller-product-con {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 30px;
    }
}

@media only screen and (max-width: 1179px) and (min-width: 901px) { 
    .heading-con {
        padding-right: 20px;
    }
    .heading-con h2 {
        font-size: 50px;
        }
    .heading-con h1 {
    font-size: 60px;
    }
    .heading-con p {
    font-size: 22px;
    }

    .welcome-button {
    width: 35%;
    }

    .best-seller-product-con {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 30px;
    }

    .content-desc {
        font-size: 14px;
    }

    .email-us-form-con {
        flex-direction: column;
    }

    .email-us-image-con {
        width: 100%;
        border-radius: 18px 18px 0px 0px;
    }

    .email-us-form {
        width: 100%;
        border-radius: 0px 0px 18px 18px;
    }
}

@media only screen and (max-width: 1600px) and (min-width: 1401px) {
    .best-seller-product-con {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 30px;
    }
}



@media only screen and (max-width: 900px) {
    .container-fluid { 
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hamburger { 
        display: block;

    }

    .hamburger .line {
        height: 3px;
        width: 30px;
        background-color: var(--secondary-color);
        margin-top: 5px;
        cursor: pointer;
    }

    .nav-links { 
        position: absolute;
        top: 100px;
        right: 0;
        left: 0;
        height: 0;
        width: 100vw;
        display: block;
        overflow: hidden;
        transition: 0.9s;
        background-color: var(--secondary-color);
    }

    .nav-links.active{ 
        height: 350px;
        /* padding-bottom: 50px; */
        
    }
    .nav-links ul {
        display: block;
        width: fit-content;
        text-align: center;
        margin: 50px auto 0 auto;
        opacity: 0;
    }
    
    .nav-links.active ul{
        opacity: 1;
    }

    .nav-links.active .nav-button { 
        opacity: 1;
    }
    .nav-links ul li {
        margin-bottom: 15px;
    }
    .nav-links ul li a {
        color: var(--tertiary-color);
    }
    
    .nav-links .active {
        color: var(--tertiary-color);
    }


    .nav-button{ 
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-left: 15px;
        opacity: 0;
    }

    .nav-button a:hover {
        border: 1px solid var(--tertiary-color);
    }

    .heading-con h2 {
        font-size: 50px;
        }
    .heading-con h1 {
    font-size: 60px;
    }
    .heading-con p {
    font-size: 22px;
    }
    .welcome-button {
    width: 30%;
    }
    .heading-con h2 {
    font-size: 30px;
    }
    .heading-con h1 {
    font-size: 40px;
    }
    .welcome-button {
    width: 45%;
    }
    .welcome-page-con {
    height: 600px;
    }
    
    .about-us-con {
    display: flex;
    flex-direction: column-reverse;
    }

    .video-cont {
    width: 100%;
    height: 400px;
    margin-top: 0px;
    }

    .about-us-content-con {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-bottom: 30px;
    
    }

    .best-seller-content-con {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-bottom: 30px;
    }

    .testimonial-content-con {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-bottom: 30px;
    }

    .out-store-content-con {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-bottom: 30px;
    }
    
    .about-us-content-con .welcome-button {
    width: 30%;
    }
    .best-seller-product-con {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 30px;
    }

    .product-photo{
        width: 200px;
    }

    .product-desc-con .welcome-button {
        width: 200px;
    }
    
    .product-title,
    .product-price {
        font-size: 30px;
    }

    .product-desc-con {
        margin-top: -100px;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .store-details-con {
        display: flex;
        flex-direction: column;
    }

    .store-details-con .store-img {
        width: 100%;
        background-size: cover;
        object-position: center top;
        border-radius: 0px;
        height: 400px;
        margin-bottom: 20px;
    }
    
    .store-map  {
        width: 100%;
        height: 400px;
    }

    .email-us-form-con {
        flex-direction: column;
    }

    .email-us-image-con {
        width: 100%;
        border-radius: 18px 18px 0px 0px;
    }

    .email-us-form {
        width: 100%;
        border-radius: 0px 0px 18px 18px;
    }

    .footer-header {
        font-size: 30px;
        text-align: center;
    }

    .footer-desc {
        text-align: center;
    }

    #topBtn{
        position: fixed;
        bottom: 40px;
        right: 28px;
        height: 45px;
        width: 45px;
        font-size: 16px;
        }

}

@media only screen and (max-width: 600px) { 
    header {
        padding: 15px;
    }

    .welcome-page-con {
        display: flex;
        flex-direction: column-reverse;
        padding: 15px;
        justify-content: start;
        height: 650px;
        
    }

    .sub-heading {
        font-size: 33px;
        text-align: center;
    }
    .image-con {
        height: 650px;
        width: 100%;
    }
    .heading-con {
        background-color: transparent;
        width: 90%;
        position: absolute;
        z-index: 1;
        top: 290px;
        display: flex;
        align-items: center;    
    }
    .heading-con h2 {
        font-size: 40px;
        color: var(--tertiary-color);
        width: 100%;
        
        }
    .heading-con h1 {
    font-size: 50px;
    color: var(--tertiary-color);
    width: 100%;
    text-align: center;
    }
    .heading-con p {
    color: var(--primary-color);
    font-size: 30px;
    }
    .welcome-button {
    width: 45%;
    text-align: center;
    }
    .welcome-page-con {
    height: 600px;
    width: 100%;
    text-align: center;
    }

    .about-us-con {
    padding: 60px 15px 60px 15px;
    }

    .video-cont {
        width: 100%;
        height: 300px;
        margin-top: 0px;
    }
    .content-desc {
        text-align: justify;
    }
    .about-us-content-con .welcome-button {
        width: 35%;
        margin-top: 20px;
    }
    .best-seller-product-con {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        column-gap: 30px;
    }

    .best-seller-con {
        padding: 60px 15px 60px 15px;
    }
    .product-photo{
        width: 250px;
    }
    .product-desc-con {
        margin-top: -100px;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .testimonial-con {
        padding: 60px 15px 0px 15px;
    }
    .testimonial-con .sub-heading {
        margin-bottom: -50px;
    }
    .slide-container {
        margin-top: 0px;
    }
    .card {
        margin-bottom: 20px;
    }

    .our-store-con {
        padding: 60px 15px 60px 15px; 
    }

    .store-details-con {
        display: flex;
        flex-direction: column;
    }

    .store-details-con .store-img {
        width: 100%;
        background-size: cover;
        border-radius: 0px;
        height: 400px;
        margin-bottom: 20px;
    }
    
    .store-map  {
        width: 100%;
        height: 400px;
    }

    .email-us-cont {
        padding: 0px 15px 50px 15px;
    }
    .email-us-form-con {
        flex-direction: column;
        padding: 10px;
    }

    .email-us-image-con {
        width: 100%;
        border-radius: 18px 18px 0px 0px;
    }

    .email-us-form {
        width: 100%;
        border-radius: 0px 0px 18px 18px;
        padding: 15px;
    }
    .email-us-image-con {
        padding: 15px;
    }
    .email-us-tagline {
        font-size: 30px;
    }
    .email-subheading-tagline {
        font-size: 22px;
    }
    .email-us-content {
        font-size: 12px;
    }
    #fname {
        height: 60px;
        font-size: 16px;
        
    }
    
    #email {
        height: 60px;
        font-size: 16px;
    }
    
    #message {
        font-size: 16px;
    }
    
    footer {
        padding: 25px 15px 25px 15px;
    }
    .footer-header {
        font-size: 22px;
        text-align: center;
    }

    .footer-desc {
        text-align: center;
        font-size: 12px;
    }

        
    
}